                           
                           
                           
                        <div class="dropdown">
                        <span>{{classid}}</span>
                        <div class="dropdown-content">
                        <p>{{detail}}</p> 
                        <div class="dismiss-button">&times;</div>
