        <div id="modal-bdrop" class='hidden'></div>
        <div id="add-user-modal" class='hidden'>
            <div class="modal-dialog">
                <div class="modal-header">
                    <h3>CREAT AN ACCOUNT</h3>
                    <button type="button" class="modal-close-button">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="sign-in-page-user">
                        <label for="todo-input-user">USERNAME</label>
                        <input type="text" id="todo-input-user">
                    </div>
                    <div class="sign-in-page-user">
                        <label for="todo-input-pin">PIN</label>
                        <input type="text" id="todo-input-pin">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-cancel-button">Cancel</button>
                    <button type="button" class="modal-accept-button">CREAT THE ACCOUNT</button>
                </div>
            </div>
        </div>