<div class="user-new-class">
    <p><span class="classid">classID: </span ><a class="id">{{classid}}</a></p>
    <p><span class="weekday">Weekday: </span ><a class="week">{{weekday}}</a></p>
    <p><span class="time">Time: </span><a class="the_time">{{time}}</a></p>
    <p><span class="details">Details: </span><a class="the_detail">{{details}}</a></p>
    <p class="dismiss-button-in-block"><a>&times;</a></p>
    
</div>
