

        <div class="Dropdown" >
           
           <h2 class="Dropbtn"><i class="fa fa-book" aria-hidden="true">
            </i> Name:</h2>
            <button class="Add-term-button">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
         
            <div class="Dropdown-content"  >
               
           
            {{#each user_in_home.name_info}}
           
                <div class="border"> <a class="name">{{usename}}</a><h2 class="trash_can"><i class="fa fa-trash" aria-hidden="true"></i></h2></div>
           
            {{/each}}
           
      
            </div>
           
        </div>
            
             
                       
        

   